<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="colegio.app.cav">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CAV">
        <activity android:name=".Home.LoginUsuario"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Home.Preparatoria"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Home.Secundaria"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Home.Primaria"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Home.Preescolar"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Home.Menu"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Home.Inicio"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.CAV.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>